<div id='post-form-box'>
  <p>Create a post.</p>

  <form id='post-form' action='/' method='POST' enctype='multipart/form-data'>
    <label for='text' class='form-label'>Text:</label>
    <input id='text' name='text' type='text' minlength='1' maxlength='255' size='255'>
  
    <label for='media' class='form-label'>Media:</label>
    <input id='media' name='media' type='file' accept='image/*,video/*,audio/*'>
  
    <input type='submit' value='post'>
  </form>
</div>
