body, p {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

#feed {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 10fr 2fr;
}

#feed-controls {
  margin: 0;
  padding: 5px;
}
